<!DOCTYPE html>
<html lang="en">
<head>
  <title>Students work</title>
  <%- include('./snippets/dashboardHeader.ejs') %>
</head>
<body>
    <%- include('./snippets/dashboardNavbar.ejs') %>


    <div class="container-fluid">
      <div class="row">
        <%- include('./snippets/dashboardSidebar.ejs') %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="container">
                <div class="text-center mt-5">
                    <h4 class="text-primary fw-bold">Students Who Submitted Work</h4>
                </div>
            </div>
            <table id="example" class="table small table-sm table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>RegNo</th>
                        <th>faculty</th>
                        <th>Department</th>
                        <th>Gender</th>
                        <th>View Workdone</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (context && context.students) { %>
                        <% context.students.forEach(studentObj => { %>
                           <tr>
                               <td><%= studentObj.student.fullname %></td>
                               <td><%= studentObj.student.schReg_no %></td>
                               <td><%= studentObj.student.faculty %></td>
                               <td><%= studentObj.student.dept %></td>
                               <td><%= studentObj.student.gender %></td>
                               <td>
                                   <div>
                                       <a href="/workdone?student=<%= studentObj.student._id %>">
                                           <button class="btn btn-danger btn-sm me-2">
                                               <i class="fas fa-eye"></i> 
                                           </button>
                                       </a>
                                   </div>
                               </td>
                           </tr>
                        <% }) %>
                       <% } %>
                </tbody>
            </table>
        </main>
      </div>
    </div>


    <%- include('./snippets/dashboardScripts.ejs') %>
</body>
</html>
